<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ site.asseturl }}css/index.css">
    <link rel="icon" href="{{ site.baseurl }}favicon.svg"/>
    <title>Snake</title>
</head>
<body>

    <nav class="navbar">
        <a class="navbrand" href="{{ site.baseurl }}"><img src="{{ site.asseturl }}images/logo.svg"></a>
    </nav>

    <div class="content">
        {{ content }}
    </div>

</body>
</html>